<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>艾因小站</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
    <!-- jq cdn -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- 样式 -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container" style="text-align: center">
    <!-- <h1>欢迎来到艾因小站</h1> -->
    <div class="row header">

    </div>
    <div class="row nav-btn">
        <div class="col-md-3">
            <button url-type="live" type="button" class="btn btn-lg btn-live" style="background-color:#FB7299">艾因的直播间
            </button>
        </div>
        <div class="col-md-3">
            <button url-type="pome" type="button" class="btn btn-lg btn-pome" style="background-color: #6B71FF">艾因的提问箱
            </button>
        </div>
        <div class="col-md-3">
            <button url-type="weibo" type="button" class="btn btn-lg btn-weibo" style="background-color: #FF8200">
                艾因的微博
            </button>
        </div>
        <div class="col-md-3">
            <button url-type="twitter" type="button" class="btn btn-lg btn-twitter" style="background-color: #1DA1F2">
                艾因的推特
            </button>
        </div>
    </div>

    <div id="live-info" class="row">
        <div class="col-md-3">
            <div>
                <img id="head-img" class="head-img"
                     src="https://i1.hdslb.com/bfs/face/627b9390be6481d4a88ff1e4808a7d7f8b6b3bbe.jpg@128w_128h_1o.webp"
                     alt="头像">
            </div>
            <div class="live-status-tips">
                <div></div>
                <span>直播</span>
                <div></div>
                <span>回放</span>
                <div></div>
                <span>闲置</span>
            </div>
        </div>
        <div class="col-md-9">
            <h2 class="room-title">获取直播间标题中...</h2>

        </div>
    </div>

</div>

<script th:src="@{/js/index.js}"></script>
</body>
</html>